<div>
    <nav>
  <div class="leftside">
    <p class="logo">SocialSphere</p>
  </div>

  <div class="center">
    <button (click)="login()">Home</button>
    <button (click)="friendPage()">People</button>
    <button (click)="friend()">Friend</button>
    <button (click)="signup()">Videos</button>
    <button (click)="friendRequest()">Friend Request</button>
  </div>
  <div class="profile-wrapper">
    <div class="profile">
      <img src="../../../assets/profile.png" alt="">
    </div>
    <div class="profiledropdown">
      <p>Arman</p>
      <p>armanali.com</p>
      <button (click)="logout()">Logout</button>
    </div>
  </div>
</nav>

</div>
