<div class="container">
    <h1>Signup</h1>
    <form [formGroup]="signupForm" (submit)="signUpData()">
        <div class="name">
            <label for="name">Name: </label>
            <input type="text" name="name" formControlName="name">
        </div>
        <div class="email">
            <label for="email">Email: </label>
            <input type="text" name="email" formControlName="email">
        </div>
        <div class="phone">
            <label for="phone">Phone: </label>
            <input type="text" name="phone" formControlName="phone">
        </div>
        <div class="password">
            <label for="password">Password: </label>
            <input type="text" name="password" formControlName="password">
        </div>
        <div class="btn">
            <button type="submit">Signup</button>
        </div>
    </form>
    <p>Already have an account <button (click)="login()">Login</button></p>
</div>
